/* GLOBAL STYLES */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Ruhl";
  src: url("../fonts/FrankRuhlLibre-Regular.ttf");
}

@font-face {
  font-family: "Ruhl Medium";
  src: url("../fonts/FrankRuhlLibre-Medium.ttf");
}

@font-face {
  font-family: "Vibes";
  src: url("../fonts/GreatVibes-Regular.ttf");
}

html {
  font-weight: 62.5%;
  --header1: calc(3rem + 1vw);
  --header2: calc(2.5rem + 1vw);
  --header3: calc(2.25rem + 1vw);
  --header4: calc(1.7rem + 1vw);
  --text: calc(1rem + 1vw);
  --big: calc(7rem + 1vw);
  --special-color: #906272;
  --background-color: #414141;
  --gray-text: #525252;
  overflow-x: hidden;
}

h1 {
  font-size: var(--header1);
  font-family: "Vibes", sans-serif;
}

li,
button,
label,
input,
a,
p {
  font-size: var(--text);
}

h2 {
  font-size: var(--header2);
}

h3 {
  font-size: var(--header3);
}

h4,
h5 {
  font-size: var(--header4);
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  font-family: "Ruhl", sans-serif;
  animation: opening 1s ease-in-out;
  overflow-x: hidden;
}

/*  NAV SECTION */
.main-head {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

nav {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  min-height: 10vh;
  padding: 0.5rem 0;
}

nav ul li {
  border-radius: 10px; /* For hover animation */
  padding: 1rem 2rem;
}

nav ul li:hover {
  opacity: 0.8;
  border: 1px solid var(--gray-text);
  transition: all 1s ease;
}

#logo {
  flex: 3 1 10rem;
  font-size: var(--header1);
  font-weight: 500;
}
.nav-links {
  display: flex;
  justify-content: space-between;
  flex: 1 1 15rem;
}

/* BURGER MENU Hidden until mobile size */
.menu-check,
.burger {
  display: none;
}

/* HERO SECTION */

.hero {
  min-height: 90vh;
  width: 100%;
  margin: 0 0 0 0;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  background: linear-gradient(rgba(23, 18, 27, 0.1), rgba(208, 179, 224, 0.3));
}

.hero-introduction {
  flex: 2 1 20rem;
  text-align: center;
}

.hero-introduction h2 {
  padding-top: 3rem;
}

.hero-introduction p {
  padding: 3rem 8rem;
  color: var(--gray-text);
}

.hero-introduction a {
  padding: 1rem 6rem;
  border: 2px solid var(--gray-text);
  margin-bottom: 4rem;
}

.hero-introduction a:hover {
  background: var(--gray-text);
  color: aliceblue;
  transition: all 0.2s ease-in-out;
}

.hero-images {
  background: linear-gradient(#dad8dd, #dad1d4);
  flex: 1 1 20rem;
  z-index: -1;
  position: relative;
}

.hero-elena {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.plant {
  position: absolute;
  bottom: 0;
  left: -20%;
  z-index: -2;
  max-height: 75%;
  transform: translateY(10%) rotateZ(-10deg) rotateX(90deg);
  animation: plant-entrance 1.5s ease-in-out 0.5s forwards,
    plant-shake 2.5s infinite ease alternate-reverse 2s;
  transform-origin: bottom;
}

.plant2 {
  left: 40%;
}

/* Animations */

@keyframes opening {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes plant-entrance {
  from {
    transform: translateY(10%) rotateZ(-10deg) rotateX(90deg);
  }
  to {
    transform: translateY(0%) rotateZ(0deg) rotateX(0deg);
  }
}

@keyframes plant-shake {
  from {
    transform: rotateZ(-2deg);
  }

  to {
    transform: rotateZ(1deg);
  }
}

/* ABOUT SECTION */
.about-container {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.about-text {
  flex: 2 1 30rem;
  color: aliceblue;
  background: var(--background-color);
  padding: 4rem 3rem;
}

.about-text h2 {
  padding: 0rem 0rem 0.1rem 0rem; /* 0.1rem for underline */
  font-weight: 500;
  font-family: "Vibes", sans-serif;
  font-size: 4.5rem;
  border-bottom: 2px solid aliceblue;
  display: inline-block;
  line-height: 0.85;
  text-shadow: 2px 2px var(--background-color), 2px -2px var(--background-color),
    -2px 2px var(--background-color), -2px -2px var(--background-color); /* For underline */
}

.about-text h3 {
  padding: 1rem 0;
  font-family: "Ruhl Medium", sans-serif;
  font-weight: 300;
}

.about-group {
  padding: 2rem 6rem;
}

.about-image {
  flex: 1 1 20rem;
  position: relative;
}

.about-image h5 {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -15%);
  letter-spacing: 1.5rem;
  padding: 0.25rem;
}

.about-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* GALLERY SECTION */

.gallery-head {
  position: absolute;
  background: rgba(65, 65, 65, 0.9);
  color: aliceblue;
  padding: 2rem 5rem;
  line-height: 3.25rem;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.gallery {
  position: relative;
  display: grid;
  min-height: 100vh;
  background-color: black;
  grid-template-columns: repeat(3, 1fr);
  animation: flash 12s infinite ease-in-out;
}

.gallery img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: none;
}

.gallery1 {
  grid-column: 1/3;
  animation: move-3 12s infinite ease-in-out alternate-reverse;
}

.gallery2 {
  grid-column: 3/4;
  grid-row: 1/3;
  animation: move-2 12s infinite ease-in-out alternate-reverse;
}

@keyframes flash {
  0%,
  50%,
  51%,
  100% {
    opacity: 1;
  }

  50.1% {
    opacity: 0;
  }
}

@keyframes move-2 {
  from {
    grid-column: 3/4;
  }
  to {
    grid-column: 1/2;
  }
}

@keyframes move-3 {
  from {
    grid-column: 1/3;
  }
  to {
    grid-column: 2/4;
  }
}

/* CONTACT FORM SECTION */
.contact {
  min-height: 90vh;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.form-wrapper {
  background: linear-gradient(rgba(23, 18, 27, 0.1), rgba(208, 179, 224, 0.3));
  flex: 3 1 20rem;
  text-align: center;
}

.form-wrapper h2 {
  padding-top: 2rem;
  text-align: left;
}

.form-wrapper span {
  font-size: var(--big);
  color: var(--special-color);
}

.form-wrapper label {
  display: block;
  margin-top: 2rem;
}

.form-wrapper input {
  display: block;
  margin: 2rem 0rem;
  background: var(--special-color);
  color: aliceblue;
  border: none;
  padding: 1rem;
  width: 100%;
}

.form-wrapper button {
  padding: 1rem 6rem;
  border: 2px solid var(--gray-text);
  margin-bottom: 4rem;
  width: 100%;
}

.form-wrapper button:hover {
  background: var(--gray-text);
  color: aliceblue;
  transition: all 0.2s ease-in-out;
}

.contact img {
  object-fit: cover;
  flex: 1 1 20rem;
}

/* FOOTER */

footer {
  background: var(--background-color);
  min-height: 10vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
}
.footer-logo {
  font-family: "Vibes", sans-serif;
  flex: 2 1 20rem;
  color: aliceblue;
  padding-left: 5rem;
  font-weight: 500;
}

footer ul {
  display: flex;
  flex: 1 1 10rem;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem;
}

footer ul li a img {
  width: 2.75rem;
}

footer ul li {
  border-radius: 10px;
  padding: 0.75rem 1rem 0rem 1rem;
}

footer ul li:hover {
  opacity: 0.7;
  border: 1px solid aliceblue;
  transition: all 0.4s ease;
}

/* MEDIA QUERIES and BURGER ANIMATION */
@media screen and (max-width: 842px) {
  .hero {
    width: 100%;
  }

  /* BURGER ANIMATION */
  .burger {
    position: relative;
    display: block;
  }
  .burger span {
    padding: 0.1rem 1rem;
    background: var(--gray-text);
    margin: 0.3rem 0rem;
    display: block;
    transition: all 0.4s ease;
  }

  .nav-links {
    background: var(--background-color);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.7s ease;
  }

  nav ul li:hover {
    border: none;
  }

  .nav-links a {
    color: aliceblue;
    font-size: var(--header4);
    line-height: 5rem;
    text-align: center;
  }

  .nav-links a:hover {
    border: none;
    border-bottom: 1px solid aliceblue;
  }
  .main-head {
    position: relative;
  }

  .menu-check {
    display: block;
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translate(2%, -50%);
    width: 4rem;
    height: 4rem;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
  }

  .menu-check:checked + .nav-links {
    transform: translate(-100%);
  }

  .menu-check:checked ~ .burger span {
    background: aliceblue;
  }

  .menu-check:checked ~ .burger span:nth-child(1) {
    transform: rotateZ(45deg) translateY(355%);
  }

  .menu-check:checked ~ .burger span:nth-child(3) {
    transform: rotateZ(-45deg) translateY(-355%);
  }

  .menu-check:checked ~ .burger span:nth-child(2) {
    opacity: 0;
  }

  /* HERO SECTION */

  .hero-introduction h2 {
    line-height: 3rem;
  }

  .hero-introduction p {
    padding: 3rem;
  }

  /* ABOUT SECTION */
  .about-group {
    padding: 2rem 3rem;
  }

  /* GALLERY SECTION */
  .gallery-head {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
  }
  .gallery img {
    width: 100%;
    grid-row: auto;
    grid-column: auto;
  }

  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    animation: none;
  }

  .gallery1,
  .gallery2 {
    display: none;
  }

  /* FOOTER SECTION */
  .footer-logo {
    text-align: center;
    padding: 1rem 0;
  }

  footer ul {
    flex: 1 1 20rem;
    order: 1;
  }

  footer h4 {
    order: 2;
  }
}

@media screen and (max-width: 420px) {
  .contact img {
    display: none;
  }
}

@media screen and (min-width: 1700px) {
  html {
    --header1: 4.5rem;
    --header2: 5rem;
    --header3: 3.75rem;
    --header4: 3rem;
    --text: 2rem;
    --big: 10rem;
  }
}
